<div id="photo-section">
  <div id="photo-inputs"></div>
  <p><a class="add-photo-input" href="#" onclick="return add_photo_input(this);">Add a photo</a> (optional, add as many as you'd like!)</p>
</div>
