<p>
If you have any question not answered above, please
<%= link_to 'check the main help section', :action => '' %>
or
<%= link_to 'send us mail', :controller => 'store', :action => 'contact_us' %>.
</p>
