<div class="text-content">

<h1>Help on How it Works</h1>

<p class="faq-question">
When I rent a set of videos, do I get one week *PER* video?      
</p>

<p class="faq-answer">
You get to keep each DVD for no more than one week.

If you get DVDs 1,2, and 3 in a set on the first of the
month, you must send them all back by no later than the 8th
of the month.

If you want one week with *EACH* dvd, we recommend that you
order them one at a time. 
</p>


<p class="faq-question">
How much does it cost?
</p>

<p class="faq-answer">
Most videos cost $9.99 per week. This includes shipping in
both directions (i.e. you don't need to put stamps on the
video when you're done; return postage comes in the box with
the video). 
</p>
<p class="faq-answer">
Some premium videos cost $14.99 per week. 
</p>


<p class="faq-question">
How does SmartFlix calculate 'one week'?
</p>

<p class="faq-answer">
If the video arrives at your address on a Monday, you must
put it in the mail on or before the following Monday.
</p>
<p class="faq-answer">
If the video arrives at your address on a Wednesday, you
must put it in the mail on or before the following Wednesday.
</p>
<p class="faq-answer">
...you get the idea.  
</p>


<p class="faq-question">
Do you ship outside of the US?
</p>

<p class="faq-answer">
We ship to the US and Canada.
</p>


<p class="faq-question">
Are all videos in stock at all times?
</p>

<p class="faq-answer">
We have multiple copies of many of our videos, and we try
to have most things in stock at any given time, but from
time to time, all copies of a given title will be out to
customers. If you place an order and the video isn't
available for immediate shipment, we will contact you and
tell you when you can expect the video. If you don't want to
wait, we'll refund 100% of your money, immediately.  
</p>


<p class="faq-question">
After I place an order, how long until I get the videos?
</p>

<p class="faq-answer">
We ship orders Monday through Friday, except for US Post
Office holidays.
</p>
<p class="faq-answer">
When an item is in stock, orders placed by 11am EST ship
the same day.   In-stock items in orders placed after 11am
ship the next weekday morning.
</p>
<p class="faq-answer">
Orders to US addresses go by USPS First Class Mail, which
takes from 2-7 days, in the vast majority of cases.
</p>
<p class="faq-answer">
Orders to Canadian addresses go by USPS First Class mail,
which may take a few days longer than shipments to US addresses.
</p>
<p class="faq-answer">
Orders ship from Massachusetts.
</p>
<p class="faq-answer">
Shipments to the west coast, Alaska, and Hawaii can take an
extra day or so.  
</p>


<p class="faq-question">
When I order a set, what order do I get the videos in?
</p>

<p class="faq-answer">
Some sets do not have an obvious order, for example: lathe
and mill, which you can view in either order. In these
cases, we do not require that these ship in order. We may
ship both items together, or we may ship them in order, or
we may ship them out of order.
</p>
<p class="faq-answer">
Other sets do have an obvious order: for example "basic,
intermediate, advanced", or "part 1, part 2, part 3". We
always ship such sets in order. You may receive all the
videos in one package, or you may receive the videos spaced
out over time...but if this happens, we'll never ship them
out of order. You'll always get part 1 before part 2, and
part 2 before part 3.
</p>
<p class="faq-answer">
Note that we are unable to ship out videos in a set in a
staggered order. That is to say, when you order a set, we
may, at our option, ship the entire set in one box. We
understand that you may prefer to have more time to view
each video and don't want to rush through the set in one
sitting. In that case, we suggest that you rent the first
video, return it, then rent the next video, etc.
</p>


<p class="faq-question">
Can you tell me the tracking number for my order?
</p>

<p class="faq-answer">
Because orders are shipped via the US Post Office, either
First Class or Media mail, and because neither First Class
nor Media mail issue tracking numbers, we can not give you a
tracking number. Sorry.
</p>


<p class="faq-question">
What are the terms and conditions?
</p>

<p class="faq-answer">
You can find them
<%= link_to 'here', :controller => 'store', :action => 'conditions' %>
</p>


<p class="faq-question">
Do you ship to Puerto Rico / APO / FPO addresses?
</p>

<p class="faq-answer">
Yes!
</p>


<p class="faq-question">
Do you ship to Canada?
</p>

<p class="faq-answer">
Yes! Things to keep in mind:
</p>
<p class="faq-answer">
1. Shipment times may be slightly longer to Canadian
destinations than to American destinations.
</p>
<p class="faq-answer">
2. SmartFlix is not equipped to print Canadian postage on our
return shipment stickers. Canadian customers are responsible
for affixing proper postage. This may require a trip to your
local post office. Note that this will increase your total
cost to rent.
</p>
<p class="faq-answer">
3. Prices are as listed, in American dollars.  
</p>


<p class="faq-question">
What if I want to use the videos in a school?
</p>

<p class="faq-answer">
We can probably help you. Under the US copyright law SmartFlix is
allowed to rent out the physical copies of videos that we
own, but we do not have the ability to license for-profit
public performances of the physical copies of the videos
that we own. However, if you are doing this in a government
or non-profit school, for educational purposes, and do not
charge admission, you are not required to get a license.
Here is the law:
</p>
<p class="faq-answer">
<blockquote>
    http://www.copyright.gov/title17/92chap1.html#101
</blockquote>
<blockquote>
    To perform or display a work "publicly" means -- (1) to
perform or display it at a place open to the public or at
any place where a substantial number of persons outside of a
normal circle of a family and its social acquaintances is
gathered; or (2) to transmit or otherwise communicate a
performance or display of the work to a place specified by
clause (1) or to the public, by means of any device or
process, whether the members of the public capable of
receiving the performance or display receive it in the same
place or in separate places and at the same time or at
different times. 
</blockquote>
</p>
<p class="faq-answer">
and here is the educational exemption:
</p>
<p class="faq-answer">
<blockquote>
    http://www.copyright.gov/title17/92chap1.html#110
</blockquote>
<blockquote>
    Notwithstanding the provisions of section 106, the
following are not infringements of copyright: ... 2. Section
110(2) (Nonprofit Educational Broadcasts of Non-dramatic
Literary or Musical Works): a. The broadcast must be a
regular part of the systematic instructional activities of a
governmental body or a nonprofit educational institution; b.
The performance must be directly related and of material
assistance to the subject matter being taught in the
broadcast; and c. The broadcast must be made primarily for
reception in the school or governmental classroom or by
persons who because of...
</blockquote>
</p>
<p class="faq-answer">
If your use conforms to the educational exemption, please go
ahead and rent videos! 
</p>


<p class="faq-question">
Do you sell videos?
</p>

<p class="faq-answer">
We might in the future, but right now we don't. In the mean-time, if you're
interested in purchasing a video, please contact us and we
can tell you where to purchase it.
</p>


<p class="faq-question">
Why do you not ship to my country?  Can't you make an exception?
</p>

<p class="faq-answer">
In order to ship our videos, we need to 
</p>
<p class="faq-answer">
(a) understand the customs fees, workarounds, and waiting
periods
</p>
<p class="faq-answer">
(b) understand the shipping fees in each direction
</p>
<p class="faq-answer">
(c) have legal recourse in the event of a loss of DVDs.  In
the US and Canada, etc., we have legal reciprocity for small
claims courts, debt collection firms, etc.
</p>
<p class="faq-answer">
(d) understand the legal liability we might face for renting
out instructional materials that might have liability
implications (i.e. a customer could follow instructions and
harm himself or others; we have to understand what liability
that
puts on us in each legal climate)
</p>
<p class="faq-answer">
(e) understand any legal restraints on video content (are
firearms, knife, etc. videos legal in each country ?  Might
certain words be considered obscene in some areas?)
</p>
<p class="faq-answer">
(f) ensure that our videos are region-encoded correctly
</p>
<p class="faq-answer">
(g) instruct our staff on different shipping procedures
</p>
<p class="faq-answer">
To justify the research and work for each country, we have
to expect a very large volume of business.
</p>
<p class="faq-answer">
To date, we have only decided to ship to a few countries,
primarily the US and Canada.
</p>
<p class="faq-answer">
In the future, we hope to ship to more countries.
</p>

<%= render :partial => 'help_footer' %>

</div>
