<div class="text-content">

<h1>Help with Legal Questions</h1>

<p class="faq-question">
What happens with customer reviews I submit to the website?
</p>

<p class="faq-answer">
By submitting a review, you give us the right to edit the
review, publish the review on our website, and otherwise use
it online and offline. 
</p>


<p class="faq-question">
What is the privacy policy ?
</p>

<p class="faq-answer">
You can read it
<%= link_to 'here', :controller => 'store', :action => 'privacy' %>.
</p>


<p class="faq-question">
What happens to emails sent to SmartFlix ?
</p>

<p class="faq-answer">
We will never share your email address with anyone.
</p>
<p class="faq-answer">
We do, from time to time, use quotes from customer emails in
online and print advertising. In these cases, we only use an
indistinct identifier: a first name, or something similar -
nothing that could compromise your privacy.
</p>
<p class="faq-answer">
If you would prefer that we not use any quotes even in this
manner, please attach a note to each email message to us. It
is important that this note be attached to each such email.  
</p>


<p class="faq-question">
Can I copy the video while I'm renting it?
</p>
<p class="faq-answer">
No. When you rent a video, you are renting just the physical
video. The copyright owner retains all rights to reproduce,
sell and distribute the video, and does not grant anyone
else those rights. If you like a video well enough to want
to watch it over and over and over, contact us  and we'll
put you in touch with the relevent vendor so that you can
buy your own copy.
</p>


<p class="faq-question">
Can I publicly display the video, for example, at a
machinists' convention?
</p>

<p class="faq-answer">
No. SmartFlix owns physical videos, and has the
right to rent them out. We do not have performance rights
for the videos, and thus we can not display the videos
publicly, nor can we allow customers to display the videos
publicly.
</p>
<p class="faq-answer">
This is true of all videos; if you look at the fine print at
your corner movie rental place, you'll probably see the same
thing.  
</p>


<p class="faq-question">
What if a DVD breaks while I'm renting it?
</p>

<p class="faq-answer">
Please drop the video in the cardboard mailer and return
it. Mechanical defects occur, and videos age, so if a video
breaks under reasonable use, you will not be charged to
replace the video. If we ascertain that the video broke
under unreasonable use (we find teeth marks on the video, or
a peanut butter sandwich wedged inside a tape, or your VCR
destroyed it), you will be charged to replace the video. 
</p>


<p class="faq-question">
What if I lose the video?
</p>

<p class="faq-answer">
You will be charged to replace the video.  
</p>


<p class="faq-question">
Do I need to sign any paperwork, or mail in a form?
</p>

<p class="faq-answer">
No. By using this web site and this service you agree to
the terms and conditions.
</p>


<p class="faq-question">
If I follow a video's instructions, and I cut my head off,
or weld it onto some pipes, can I sue SmartFlix? </p>

<p class="faq-answer">
No. The disclaimer follows:
</p>
<p class="faq-answer">
    Agreement not to be held liable
</p>
<p class="faq-answer">
    By using this website and/or renting or purchasing
videos or books from this website, you agree to not hold the
owners of the site liable for any event that should happen
as a result of you following the information provided within
this website and within the books or videos rented or purchased.
</p>
<p class="faq-answer">
    Use the information provided in books, videos, and this
website at your own risk. The information within this
website and within the books or videos rented or sold by
this website is provided as-is without warranty of guarantee
of any kind.
</p>
<p class="faq-answer">
    Copyright holders responsible for contents
</p>
<p class="faq-answer">
    Copyright holders of the various books and videos are
individually responsible for the content and accuracy of the
information found in said books and videos.
</p>
<p class="faq-answer">
    All recommendations in books, videos, and this website,
for using tools, using processes, storage or use of
products, etc. are based on copyright holder's knowledge at
the time such recommendations are made. Notwithstanding any
such recommendations, you as the user of tools, processes,
products, etc., must make your own determination and satisfy
yourself that methods recommended are suitable for your
intended process or purpose, location, tools, etc., and that
you are in compliance with environmental, health and safety
regulations.
</p>
<p class="faq-answer">
    Materials not vetted
</p>
<p class="faq-answer">
    Technical Video Rental DBA SmartFlix does not vet information provided
in the books and videos offered for rental or sale at this
site. The use of the phrase "I think you'll enjoy the
video(s); I did.", or similar phrases, in the website, in
email, or in other venues, should not be taken as an
indication that any particular video or book has been viewed
or read by any employees or owners of Technical Video
Rental DBA Smartflix, or that there is any sort of expert review of
materials offered for sale or rental at Technical Video Rental DBA SmartFlix.
</p>
<p class="faq-answer">
    In no event will Technical Video Rental DBA SmartFlix, or employees or
owners of Technical Video Rental DBA SmartFlix be liable to any party for
direct, indirect, incidental, special, punitive or other
consequential damages resulting from any use of this web
site or of the information made available on it, or from any
use of any book or video rented or sold through this web
site, including, but not limited to, any damage to people,
health, property, loss of business, loss of profits, loss of
data, or loss of use.
</p>


<p class="faq-question">
What if I don't return the video?
</p>

<p class="faq-answer">
Maybe machinists and hobbyists are more moral than the
average person, but we've never had a single problem.
Additionally, the President of SmartFlix counts
"Using Small Claims Court" as one of his hobbies. He has
filed over half a dozen lawsuits and won every one. Any
customer who rents a video and refuses to return it will be
prosecuted.
</p>


<p class="faq-question">
Is it legal for SmartFlix to rent out these videos?
</p>

<p class="faq-answer">
Yes.
</p>
<p class="faq-answer">
Under US Copyright law, one does not need permission of the
original copyright holder to rent out a lawfully acquired
copy of the video (this is known as the "first sale"
doctrine, and is explained in 17 USC, section 109 of the US
Copyright law).
</p>
<p class="faq-answer">
Under Canadian Copyright law, one does not need permission
of the original copyright holder to rent out a lawfully
acquired copy of the video (Canadian Consolidated Statutes
and Regulations C-42 - 3(1) gives the copyright holder no
right to restrain the rental of lawfully acquired copies of
video recordings).
</p>
<p class="faq-answer">
SmartFlix is a member of EMA (Entertainment Merchants Association), a
trade association of video rental stores and companies. EMA assures us that the rental of videos is perfectly legal under US and
Canadian copyright laws, regardless of whether the copyright holder has
given its permission. You can learn more about the 'first sale doctrine' 
<a href="http://www.entmerch.org/body_positions.html#FirstSale">here</a>.
</p>
<p class="faq-answer">
SmartFlix retains the services of Interaction
Law in Washington, DC. SmartFlix has verified with Interaction Law
that our business renting videos complies with all copyright
laws.
</p>
<p class="faq-answer">
SmartFlix is aware of the rights held by video
renters under the copyright laws, and vigorously defends
itself against false accusations of copyright infringement.
</p>
<p class="faq-answer">
You can read more about the First Sale Doctrine on the
internet.  
</p>


<p class="faq-question">
Some of the DVDs are DVD+/- R. Does this mean that you've
duplicated / pirated them?
</p>
<p class="faq-answer">
Absolutely not.
</p>
<p class="faq-answer">
All videos are original. Under US Copyright law, we have the
right to rent out original copies that we purchase; we do
NOT have the right to make copies.
</p>
<p class="faq-answer">
SmartFlix takes intellectual property laws VERY seriously.
</p>
<p class="faq-answer">
Many of the authors we carry are running small, home based
companies, and thus the DVDs they sell are home-made DVD+/-Rs.
</p>
<p class="faq-answer">
Other DVDs are from larger firms, and the DVDs they sell are
normal pressed DVDs.
</p>
<p class="faq-answer">
That's why you'll find a mix of DVD types in our inventory.  
</p>


<p class="faq-question">
Some of the DVDs are hand-labelled. Does this mean that
you've duplicated / pirated them?
</p>
<p class="faq-answer">
Absolutely not.
</p>
<p class="faq-answer">
All videos are original. See the FAQ entry on DVD +/- Rs.
</p>
<p class="faq-answer">
Many of the authors we carry are running small, home based
companies, and thus the DVDs they sell are home-made
DVD+/-Rs. A very few of these do not apply normal labels,
but hand-label their DVDs. We wish it was otherwise, but
rest assured: when you see hand-labelling of DVDs, that's
how we got them.
</p>


<p class="faq-question">
I'm a copyright holder, and I want SmartFlix to carry my video.
What do I do?
</p>

<p class="faq-answer">
SmartFlix is always interested in carrying new
titles.
</p>
<p class="faq-answer">
Additionally, our role as a portal carrying hundreds of
different titles draws more traffic than most small
websites...so having SmartFlix carry your video is a good idea: if
the tape is popular, you'll sell lots of copies to SmartFlix, and
you'll get publicity for your own site.
</p>
<p class="faq-answer">
To tell us about a video you'd like us to carry, please
contact us.  
</p>


<p class="faq-question">
I'm a copyright holder, and I want SmartFlix to NOT carry my
video. What do I do?
</p>

<p class="faq-answer">
First, it's important to realize that SmartFlix
has the complete legal right to rent out legally
acquired copies of any video it wishes.
</p>
<p class="faq-answer">
That being said, SmartFlix thinks that good relations with
copyright holders can be beneficial to both parties.
</p>
<p class="faq-answer">
With that in mind, here are some ways that SmartFlix can help you:
</p>
<p class="faq-answer">
   1. SmartFlix can purchase your videos, putting money in your
pocket.
</p>
<p class="faq-answer">
      As the major Hollywood studios discovered in the
1980's, having a healthy rental market helps their bottom
line: all of the evidence points to the fact that the
studios make far more money selling hundreds of copies to
each video store than they would make selling a few videos
to individuals. After all, video stores are businesses, and
can shell out $45 per title...most individuals look at $45
and think "...for a single tape?!? I think not!". You've
probably been to your local video store a couple of times in
the last few months. How many videos did you rent? If those
hadn't been available for rental, would you have purchased
them for $30-$50 instead? Probably not; you probably
wouldn't have bought them...but by renting them, you created
demand, and the video store purchased those tapes, putting
money in the studios and actors pockets.
</p>
<p class="faq-answer">
      Some SmartFlix customers have written that they do like to
buy a few videos, but feel don't want to take a $40 or $80
gamble...they'd rather spend an extra $10 up front as
"insurance" and then just buy the tapes that they enjoyed
and want to refer to again and again.
</p>
<p class="faq-answer">
   2. SmartFlix can direct anyone who sends email asking about
buying your videos to your website.
</p>
<p class="faq-answer">
   3. If you have hardcopy promotional information, an
advertising deal could be reached wherein SmartFlix drops a copy
of your materials in outgoing packages, the same way that
you often see ads for new products in a box that you get
from Amazon.com, or Duluth Trading Co., etc.
</p>
<p class="faq-answer">
To discuss any of these options, please contact us.
</p>


<p class="faq-question">
Are you allowed to use screencaps and descriptive text to
advertise the video?
</p>

<p class="faq-answer">
Yes, we are allowed to, under the Fair Use doctrine. Under
the Fair Use "Four Factors Test", our use is clearly legal.  This has been established by the courts in other cases where 
vendors use, for example, the copy on a book cover to advertise a book,  the text of a DVD's case to advertise the movie, etc.
</p>


<p class="faq-question">
Some of your videos are DVD-ROMs.  How do you rent out computer programs?  Isn't that illegal?
</p>

<p class="faq-answer">
We do not rent out computer programs (and even if we did,
renting out certain varieties of computer programs is legal,
but that's another story).
</p>
<p class="faq-answer">
Some of our videos are Quicktime movies, which are data
files that are read by a program installed on the user's
computer.  When the data file is read, it is displayed as an
audiovisual work - exactly the same thing that happens when
the digital data file is read off of a DVD by the
special-purpose software that resides in a ROM chip inside
your DVD player (which is, in turn, a special purpose computer).
</p>
<p class="faq-answer">
In short: renting out Quicktime movies on DVD-ROM is
entirely legal.
</p>



<p class="faq-question">
Are you allowed to rent out a DVD that has data files on it (for example, images, custom brushes for a painting tool, etc.) ?

<p class="faq-answer">
Yes, it is legal to rent out a DVD that has data files on it. 
</p>


<!--
<p class="faq-question">
You claim that you're allowed to rent my videos, but I'm
going to sue you.
</p>

<p class="faq-answer">
While not strictly a question, this is something we've
heard more than once. In fact, we've gotten very official
letters sent via registered mail from several vendors and
their law firms, assuring us that they're going to wipe the
floor with us. We've even gotten a letter from one firm's
CEO, who has a degree from Harvard Law School and was
formerly Chief Counsel of the United States Senate Committee
on Labor and Human Resources. Unfortunately for these firms,
bluffs, intimidation, and a poor grasp on copyright law are
not sufficient. SmartFlix aggressively defends its rights, and
fights every single challenge. Judging from other letters
we've received, you might be tempted to make threats like
"I'll get Paypal to shut you down" or "I'll coordinate with
other vendors to cause your problems". Before making such
threats, you should realize that such threats constitute
conspiracy to interfere with or restrain trade, and each
incident is illegal under 15 USC 1, and has penalties of up
to $10,000,000 and/or three years of imprisonment. Or you
might be tempted to say "I'll use the DMCA to shut you
down". We've had a DMCA take-down attempt before. We
understand the intricacies of the DMCA: we filed a
challenge, as specified in the regulations, and are now
preparing a counter-suit for legal expenses (something
explicitly authorized under the DMCA). The one thing that
every one of these challenges, from ill-informed emails, to
legal briefs from other firms, to letters from CEOs from
Harvard Law School, have in common is this: SmartFlix has fought
them tooth and nail, and has won. Not one video has been
removed from SmartFlix's inventory, nor will any be.
</p>
-->

<p class="faq-question">
What terms, phrases, etc. are trademarked?
</p>

<p class="faq-answer">
"Technical Video Rental" is trademarked.
</p>
<p class="faq-answer">
"SmartFlix" is trademarked.
</p>
<p class="faq-answer">
The logo with three lightbulbs is trademarked.
</p>
<p class="faq-answer">
The logo with one lightbulb is trademarked.
</p>
<p class="faq-answer">
"TVR" is service marked.
</p>
<p class="faq-answer">
The phrase "You need to know.  We show you how." is service marked. 
</p>
<p class="faq-answer">
The phrase "Rent.  Learn.  Return." is service marked.
</p>
<p class="faq-answer">
The phrase "Web's Biggest How-To DVD Rental Store" is service marked.
</p>


<%= render :partial => 'help_footer' %>

</div>
