<div class="text-content">

<h1>Help with Other Questions</h1>

<p class="faq-question">
I ordered a video, but never got email confirmation?
</p>

<p class="faq-answer">
We send email confirmations on every order. Please make
sure that your spam filters allow through emails from
</p>
<p class="faq-answer">
<blockquote>
<%= SmartFlix::Application::SF_OBFUSCATED_CONTACT_EMAIL %>
</blockquote>
</p>
<p class="faq-answer">
One easy way to do this is for many software programs is to
add this email address to your "friends" list in your
email client.
</p>
<p class="faq-answer">
Note that if you use a challenge-and-response spam filter,
where anyone sending you email has to go to a web page to
verify that they are real people, we will not get the
challenge from the software, and we will not respond to it.
You must let email from the above to addresses through, on
your own.  
</p>

<p class="faq-question">
What is your mailing address?
</p>

<p class="faq-answer">
SmartFlix<br>
7 Central St<br>
Suite 140<br>
Arlington MA 02476
</p>

<%= render :partial => 'help_footer' %>

</div>
