<div class="text-content">

<h1>Help with Payments</h1>

<p class="faq-question">
Is it safe to order over the web?
</p>

<p class="faq-answer">
Yes, very. We use the highest grade of encryption, have payed to have
all of our software reviewed by security experts, and treat your credit
card number the same way we'd treat our own.
</p>


<p class="faq-question">
Can I mail a check / money order?
</p>

<p class="faq-answer">
No, we are no longer accepting checks or money orders.  We take security very seriously, and we spare no effort to make sure that your credit card information is well protected when you use our service.  Unlike many other vendors, we do not retain credit card information on our web server after a transaction (although we do retain an encrypted copy on a separate machine in case a DVD is lost or destroyed).
</p>


<p class="faq-question">
Can't you rent the videos for less?
</p>

<p class="faq-answer">
We try to price our rentals as affordably as possible, but
there are two important issues: mailing a VHS tape or DVD
two ways isn't cheap, and unlike the standard action
adventure flick that the corner video store buys for $15,
the technical videos we rent are quite expensive ($50-$100),
and the appeal of these videos is ...select (in other words,
when the corner video store buys a copy of the new
Schwarzenegger flick, they'll rent it out 50 times this
year...we're lucky if we rent a video on a strange technical
topic 10 times in one year).
</p>


<p class="faq-question">
What if I return the video late?
</p>

<p class="faq-answer">
The weekly rental fee will be charged for each full week,
and each fraction of a week, that the video is in your
possession. Thus, if you pay up front to rent the video for
one week, and you keep it for 12 days, not only do you have
to feel guilty that other enthusiasts have been kept waiting
for the video, but you'll have to pony up for the extra week
that you kept it (i.e. weeks round up).
</p>


<p class="faq-question">
How do you count the duration of the week?
</p>

<p class="faq-answer">
You get to keep and watch the videos you rent for one week.
If the video arrives on a Tuesday, the 1st of the month, get
to watch the video for seven full days, and should drop it
back in the mail on Tuesday, the 8th of the month.
</p>


<p class="faq-question">
What if the mail is slow?
</p>

<p class="faq-answer">
We recognize that the USPS isn't always as fast as we might
like. As long as the postmark date is right, there's no
problem. Heck, for fellow enthusiasts, we probably won't
even get upset if the postmark is a day late...
</p>

<%= render :partial => 'help_footer' %>

</div>
