<div class="text-content">

<h1>Help with Technical Questions</h1>

<p class="faq-question">
What format are the videos in?
</p>

<p class="faq-answer">
Videos come in two formats:
</p>
<ul>
<li> DVD
<li> DVD-ROM
</ul>
<p class="faq-answer">
<b>About the DVDs</b>
</p>
<p class="faq-answer">
DVDs are in a region encoding playable in North America, and
contain NTSC data.
</p>
<p class="faq-answer">
Note that many of the DVDs we rent are DVD+R or DVD-R
format. Please verify that your DVD player can play these
discs before renting; we can not give refunds to customers
who rent a video on a medium that they can not view. 
</p>
<p class="faq-answer">
Because vendors sometimes change the format of their videos
during the lifetime of a title, we do not keep track of
which videos are in which DVD format ("silver" pressed DVD,
DVD+R, and DVD-R).  Thus, we can not, unfortunately, tell
you what format a particular title is in.
</p>
<p class="faq-answer">
You can verify that your machine can play DVD+/-R recordings
by going 
<a href="http://www.videohelp.com/dvdplayers.php?DVDnameid=1479&Search=Search">here</a>.
</p>
<p class="faq-answer">
<b>About the DVD-ROMs</b>
</p>
<p class="faq-answer">
DVD-ROMS contain Quicktime movies and require the following
hardware:
</p>
<ul>
    <li>1 GHz or faster processor
    <li>512 MB RAM
    <li>64 MB Video RAM
    <li>DVD-ROM Drive
    <li>5 GB of hard disk space
    <li>1280 x 1024 display
</ul>
<p class="faq-answer">
and the following software:
</p>
<ul>
    <li>Microsoft Windows XP Professional, or Windows 2000
Professional, or Apple Mac OS X 10.2+
    <li>Quicktime Movie Player (Version 5.0.5 or higher)
    <li> Acrobat Reader (Version 5.0 or higher)
</ul>
</p>


<p class="faq-question">
Can I download the videos over the Internet?
</p>

<p class="faq-answer">
Unfortunately, this is not a service that we are able to
provide.
</p>
<p class="faq-answer">
Under US copyright law, we have the right to do anything we
want with the physical VHS tapes and DVDs we buy (lend,
rent, sell, etc.)... but we do not have the right to
transform the content into other formats, or distribute the
content electronically.
</p>
<p class="faq-answer">
However, we try to keep most titles in stock, and if you
order DVDs (which go by first class mail), an order placed
today should reach you in just a few days.  
</p>


<p class="faq-question">
The DVD does not seem to play; what do I do?
</p>

<p class="faq-answer">
Please examine the DVD under a strong light, looking for
hairs or fingerprints. If finger prints or other dirt are
present, please spray the DVD with window cleaner, eyeglass
cleaner, or clean water with a touch of soap, rinse, and
gently wipe dry with a soft lint free towel. The DVD should
then play. If it does not please contact us immediately so
that we can get a new DVD to you.  
</p>


<p class="faq-question">
The DVD plays, but the audio is muddy; what do I do?
</p>

<p class="faq-answer">
Most DVD players have several audio modes that change the
sound for different purposes. For example "action movie",
"symphony hall", etc. Using your DVD remote control, find
the button that changes the audio mode. Make sure that you
are in "normal", "basic", or "regular" mode. Playing an
instructional disk with voice narration in another mode can
result in very muddy audio. 
</p>


<p class="faq-question">
There's no sound on this video!  What do I do?
</p>

<p class="faq-answer">
Some of the videos have sound recorded on only one channel.
If you are playing such a video on a stereo DVD player and
a mono television, you likely have three RCA jacks on the
back of the DVD player: 
</p>
<ul>
<li>video
<li>audio LEFT
<li>audio RIGHT
</ul>
<p class="faq-answer">
and two RCA jacks on the back of your TV:
</p>
<ul>
<li> video
<li>audio
</ul>
<p class="faq-answer">
and one of the audio channels out of the DVD player is
unused.  Try disconnecting the audio channel that you're
currently piping into the TV, and connect the other audio
channel instead. 
</p>


<p class="faq-question">
I have a DVD drive on my computer.  Will this video play?
</p>

<p class="faq-answer">
All DVDs rented from are guaranteed to play on your DVD
player, as long as your DVD player is documented as playing
DVD+Rs and DVD-Rs.
</p>
<p class="faq-answer">
Most of our DVDs also play decently on most PCs equipped
with DVD
drives.
</p>
<p class="faq-answer">
...however, given the huge diversity of DVD drives, codecs,
drivers,
play programs, etc., we can not give a guarantee that our
DVDs will
play on all computers.
</p>

<%= render :partial => 'help_footer' %>

</div>
