<div class="text-content">

<h1>Help with Video Bundles</h1>

<p class="faq-question">
What are video bundles?
</p>

<p class="faq-answer">
A bundle is a mini-subscription to a set of useful videos, all at a
substantial discount: 20% off the price of the individual rentals!
</p>

<p class="faq-question">
How do I get it?
</p>

<p class="faq-answer">
Just click the "rent bundle" button.
</p>

<p class="faq-question">
Am I going to get a huge pile of DVDs all at once?
</p>

<p class="faq-answer">
No!  We send out a few at a time, so you have ample time to view and
learn from each DVD.
</p>

<p class="faq-question">
How many DVDs do I get at once?
</p>

<p class="faq-answer">
You decide!  When you check out, you get to set the number of DVDs you
want at any given time.  You can always change this later, via your
customer page here at the SmartFlix website.
</p>

<p class="faq-question">
After I send the first batch back, do I have to wait weeks to get the
next batch?
</p>

<p class="faq-answer">
No.  We'll ship you your second batch a week after the first batch goes
out.  If you return your first batch on schedule, the third batch will
go out a week later, etc.  You'll always have some DVDs at home, and
you'll always have a few more DVDs on the way.
</p>

<p class="faq-question">
Am I going to get billed for shipping each time a batch goes out?
</p>

<p class="faq-answer">
No!  At SmartFlix, shipping is always free.
</p>

<p class="faq-question">
What order are the DVDs shipped in?
</p>

<p class="faq-answer">
We take care to always ship introductory DVDs before more advanced DVDs,
but aside from that, we may adjust the order that you get titles in,
based on availability.
</p>

<p class="faq-question">
Can I customize the bundle selection, by removing some, and
substituting others?
</p>

<p class="faq-answer">
Unfortunately, to give you this 20% off discount, we have to specify the
items in each bundle...but rest assured, we pick out only highly rated,
useful videos.
</p>

<p class="faq-question">
When am I billed?
</p>

<p class="faq-answer">
Because we do not store unencrypted credit cards on our server (for your
security), we can not bill you as each DVD ships.  Thus, we bill you at
the time of checkout for the bundle...but given the 20% discount, you're
still getting a great deal!
</p>

<p class="faq-question">
Can I cancel a bundle part way through ?
</p>

<p class="faq-answer">
Yes.  We will retain the full-price rental fee for every DVD we've
shipped you, and refund you the balance of the bundle fee.
</p>

<p class="faq-question">
Is this some sort of auto-renewing subscription, where I'll get billed
over and over?
</p>

<p class="faq-answer">
No!  We charge one rental fee, and that's it!
</p>

<%= render :partial => 'help_footer' %>

</div>
