set daemon 15
set mailserver localhost
set mail-format { from: monit@smartflix.com }
set alert xxx@smartflix.com

set httpd port 2812 and
    use address localhost  # only accept connection from localhost
    allow localhost        # allow localhost to connect to the server

##### mongrel 5001 #####
check process mongrel-5001 with pidfile /home/smart/rails/job_status/current/log/mongrel.5001.pid
    start program = "/bin/bash -c 'rm -f /home/smart/rails/job_status/current/log/mongrel.5001.pid && /usr/local/bin/mongrel_rails start -d -e production -p 5001 -a 127.0.0.1 -P log/mongrel.5001.pid -c /home/smart/rails/job_status/current --user smart --group smart'"
    stop program  = "/usr/local/bin/mongrel_rails stop --force -P /home/smart/rails/job_status/current/log/mongrel.5001.pid"
    if totalmem is greater than 6% for 5 cycles then restart       # eating up memory?
    if cpu is greater than 80% for 5 cycles then restart           # hung process?
    if failed port 5001 protocol http request '/robots.txt' with timeout 30 seconds then restart  # check for response
    group mongrel


##### mongrel 8001 #####
check process mongrel-8001 with pidfile /home/smart/rails/railscart/current/log/mongrel.8001.pid
    start program = "/bin/bash -c 'rm -f /home/smart/rails/railscart/current/log/mongrel.8001.pid && /usr/local/bin/mongrel_rails start -d -e production -p 8001 -a 127.0.0.1 -P log/mongrel.8001.pid -c /home/smart/rails/railscart/current --user smart --group smart'"
    stop program  = "/usr/local/bin/mongrel_rails stop --force -P /home/smart/rails/railscart/current/log/mongrel.8001.pid"
    if totalmem is greater than 6% for 5 cycles then restart       # eating up memory?
    if cpu is greater than 80% for 5 cycles then restart           # hung process?
    if failed port 8001 protocol http request '/store/about_us' with timeout 75 seconds then restart  # check for response
    group mongrel

##### mongrel 8002 #####
check process mongrel-8002 with pidfile /home/smart/rails/railscart/current/log/mongrel.8002.pid
    start program = "/bin/bash -c 'rm -f /home/smart/rails/railscart/current/log/mongrel.8002.pid && /usr/local/bin/mongrel_rails start -d -e production -p 8002 -a 127.0.0.1 -P log/mongrel.8002.pid -c /home/smart/rails/railscart/current --user smart --group smart'"
    stop program  = "/usr/local/bin/mongrel_rails stop --force -P /home/smart/rails/railscart/current/log/mongrel.8002.pid"
    if totalmem is greater than 6% for 5 cycles then restart       # eating up memory?
    if cpu is greater than 80% for 5 cycles then restart           # hung process?
    if failed port 8002 protocol http request '/store/about_us' with timeout 75 seconds then restart  # check for response
    group mongrel

##### mongrel 8003 #####
check process mongrel-8003 with pidfile /home/smart/rails/railscart/current/log/mongrel.8003.pid
    start program = "/bin/bash -c 'rm -f /home/smart/rails/railscart/current/log/mongrel.8003.pid && /usr/local/bin/mongrel_rails start -d -e production -p 8003 -a 127.0.0.1 -P log/mongrel.8003.pid -c /home/smart/rails/railscart/current --user smart --group smart'"
    stop program  = "/usr/local/bin/mongrel_rails stop --force -P /home/smart/rails/railscart/current/log/mongrel.8003.pid"
    if totalmem is greater than 6% for 5 cycles then restart       # eating up memory?
    if cpu is greater than 80% for 5 cycles then restart           # hung process?
    if failed port 8003 protocol http request '/store/about_us' with timeout 75 seconds then restart  # check for response
    group mongrel

##### mongrel 8004 #####
check process mongrel-8004 with pidfile /home/smart/rails/railscart/current/log/mongrel.8004.pid
    start program = "/bin/bash -c 'rm -f /home/smart/rails/railscart/current/log/mongrel.8004.pid && /usr/local/bin/mongrel_rails start -d -e production -p 8004 -a 127.0.0.1 -P log/mongrel.8004.pid -c /home/smart/rails/railscart/current --user smart --group smart'"
    stop program  = "/usr/local/bin/mongrel_rails stop --force -P /home/smart/rails/railscart/current/log/mongrel.8004.pid"
    if totalmem is greater than 6% for 5 cycles then restart       # eating up memory?
    if cpu is greater than 80% for 5 cycles then restart           # hung process?
    if failed port 8004 protocol http request '/store/about_us' with timeout 75 seconds then restart  # check for response
    group mongrel




##### mongrel 9001 #####
check process mongrel-9001 with pidfile /home/underdog/rails/underdog_web/current/log/mongrel.9001.pid
    start program = "/bin/bash -c 'rm -f /home/underdog/rails/underdog_web/current/log/mongrel.9001.pid && /usr/local/bin/mongrel_rails start -d -e production -p 9001 -a 127.0.0.1 -P log/mongrel.9001.pid -c /home/underdog/rails/underdog_web/current --user underdog --group underdog'"
    stop program  = "/usr/local/bin/mongrel_rails stop --force -P /home/underdog/rails/underdog_web/current/log/mongrel.9001.pid"
    if totalmem is greater than 12% for 5 cycles then restart               # eating up memory?
    if cpu is greater than 80% for 5 cycles then restart                    # hung process?
    if failed port 9001 protocol http request '/investors' with timeout 105 seconds then restart  # check for response
    group mongrel

##### mongrel 9002 #####
check process mongrel-9002 with pidfile /home/underdog/rails/underdog_web/current/log/mongrel.9002.pid
    start program = "/bin/bash -c 'rm -f /home/underdog/rails/underdog_web/current/log/mongrel.9002.pid && /usr/local/bin/mongrel_rails start -d -e production -p 9002 -a 127.0.0.1 -P log/mongrel.9002.pid -c /home/underdog/rails/underdog_web/current --user underdog --group underdog'"
    stop program  = "/usr/local/bin/mongrel_rails stop --force -P /home/underdog/rails/underdog_web/current/log/mongrel.9002.pid"
    if totalmem is greater than 12% for 5 cycles then restart               # eating up memory?
    if cpu is greater than 80% for 5 cycles then restart                    # hung process?
    if failed port 9002 protocol http request '/investors' with timeout 105 seconds then restart  # check for response
    group mongrel

##### mongrel 9003 #####
check process mongrel-9003 with pidfile /home/underdog/rails/underdog_web/current/log/mongrel.9003.pid
    start program = "/bin/bash -c 'rm -f /home/underdog/rails/underdog_web/current/log/mongrel.9003.pid && /usr/local/bin/mongrel_rails start -d -e production -p 9003 -a 127.0.0.1 -P log/mongrel.9003.pid -c /home/underdog/rails/underdog_web/current --user underdog --group underdog'"
    stop program  = "/usr/local/bin/mongrel_rails stop --force -P /home/underdog/rails/underdog_web/current/log/mongrel.9003.pid"
    if totalmem is greater than 12% for 5 cycles then restart               # eating up memory?
    if cpu is greater than 80% for 5 cycles then restart                    # hung process?
    if failed port 9003 protocol http request '/investors' with timeout 105 seconds then restart  # check for response
    group mongrel

##### mongrel 9004 #####
check process mongrel-9004 with pidfile /home/underdog/rails/underdog_web/current/log/mongrel.9004.pid
    start program = "/bin/bash -c 'rm -f /home/underdog/rails/underdog_web/current/log/mongrel.9004.pid && /usr/local/bin/mongrel_rails start -d -e production -p 9004 -a 127.0.0.1 -P log/mongrel.9004.pid -c /home/underdog/rails/underdog_web/current --user underdog --group underdog'"
    stop program  = "/usr/local/bin/mongrel_rails stop --force -P /home/underdog/rails/underdog_web/current/log/mongrel.9004.pid"
    if totalmem is greater than 12% for 5 cycles then restart               # eating up memory?
    if cpu is greater than 80% for 5 cycles then restart                    # hung process?
    if failed port 9004 protocol http request '/investors' with timeout 105 seconds then restart  # check for response
    group mongrel




##### mongrel 10001 #####
check process mongrel-10001 with pidfile /home/underdog/rails/underdog_beast/current/log/mongrel.10001.pid
    start program = "/bin/bash -c 'rm -f /home/underdog/rails/underdog_beast/current/log/mongrel.10001.pid && /usr/local/bin/mongrel_rails start -d -e production -p 10001 -a 127.0.0.1 -P log/mongrel.10001.pid -c /home/underdog/rails/underdog_beast/current --user underdog --group underdog --prefix /forum'"
    stop program  = "/usr/local/bin/mongrel_rails stop --force -P /home/underdog/rails/underdog_beast/current/log/mongrel.10001.pid"
    if totalmem is greater than 6% for 5 cycles then restart       # eating up memory?
    if cpu is greater than 80% for 5 cycles then restart           # hung process?
    if failed port 10001 protocol http request '/forum/forums/1' with timeout 30 seconds then restart  # check for response
    group mongrel

##### mongrel 10002 #####
check process mongrel-10002 with pidfile /home/underdog/rails/underdog_beast/current/log/mongrel.10002.pid
    start program = "/bin/bash -c 'rm -f /home/underdog/rails/underdog_beast/current/log/mongrel.10002.pid && /usr/local/bin/mongrel_rails start -d -e production -p 10002 -a 127.0.0.1 -P log/mongrel.10002.pid -c /home/underdog/rails/underdog_beast/current --user underdog --group underdog --prefix /forum'"
    stop program  = "/usr/local/bin/mongrel_rails stop --force -P /home/underdog/rails/underdog_beast/current/log/mongrel.10002.pid"
    if totalmem is greater than 6% for 5 cycles then restart       # eating up memory?
    if cpu is greater than 80% for 5 cycles then restart           # hung process?
    if failed port 10002 protocol http request '/forum/forums/1' with timeout 30 seconds then restart  # check for response
    group mongrel




##### mongrel 11001 #####
check process mongrel-11001 with pidfile /home/woodu/rails/smartflixU/current/log/mongrel.11001.pid
    start program = "/bin/bash -c 'rm -f /home/woodu/rails/smartflixU/current/log/mongrel.11001.pid && /usr/local/bin/mongrel_rails start -d -e production -p 11001 -a 127.0.0.1 -P log/mongrel.11001.pid -c /home/woodu/rails/smartflixU/current --user woodu --group woodu'"
    stop program  = "/usr/local/bin/mongrel_rails stop --force -P /home/woodu/rails/smartflixU/current/log/mongrel.11001.pid"
    if totalmem is greater than 3% for 5 cycles then restart       # eating up memory?
    if cpu is greater than 80% for 5 cycles then restart           # hung process?
    if failed port 11001 protocol http request '/monit' with timeout 30 seconds then restart  # check for response
    group mongrel

##### mongrel 11002 #####
check process mongrel-11002 with pidfile /home/woodu/rails/smartflixU/current/log/mongrel.11002.pid
    start program = "/bin/bash -c 'rm -f /home/woodu/rails/smartflixU/current/log/mongrel.11002.pid && /usr/local/bin/mongrel_rails start -d -e production -p 11002 -a 127.0.0.1 -P log/mongrel.11002.pid -c /home/woodu/rails/smartflixU/current --user woodu --group woodu'"
    stop program  = "/usr/local/bin/mongrel_rails stop --force -P /home/woodu/rails/smartflixU/current/log/mongrel.11002.pid"
    if totalmem is greater than 3% for 5 cycles then restart       # eating up memory?
    if cpu is greater than 80% for 5 cycles then restart           # hung process?
    if failed port 11002 protocol http request '/monit' with timeout 30 seconds then restart  # check for response
    group mongrel




##### mongrel 12001 #####
check process mongrel-12001 with pidfile /home/smart/rails/smartflix_beast/current/log/mongrel.12001.pid
    start program = "/bin/bash -c 'rm -f /home/smart/rails/smartflix_beast/current/log/mongrel.12001.pid && /usr/local/bin/mongrel_rails start -d -e production -p 12001 -a 127.0.0.1 -P log/mongrel.12001.pid -c /home/smart/rails/smartflix_beast/current --user smart --group smart --prefix /forum'"
    stop program  = "/usr/local/bin/mongrel_rails stop --force -P /home/smart/rails/smartflix_beast/current/log/mongrel.12001.pid"
    if totalmem is greater than 3% for 5 cycles then restart       # eating up memory?
    if cpu is greater than 80% for 5 cycles then restart           # hung process?
    if failed port 12001 protocol http request '/forum' with timeout 30 seconds then restart  # check for response
    group mongrel

##### mongrel 12002 #####
check process mongrel-12002 with pidfile /home/smart/rails/smartflix_beast/current/log/mongrel.12002.pid
    start program = "/bin/bash -c 'rm -f /home/smart/rails/smartflix_beast/current/log/mongrel.12002.pid && /usr/local/bin/mongrel_rails start -d -e production -p 12002 -a 127.0.0.1 -P log/mongrel.12002.pid -c /home/smart/rails/smartflix_beast/current --user smart --group smart --prefix /forum'"
    stop program  = "/usr/local/bin/mongrel_rails stop --force -P /home/smart/rails/smartflix_beast/current/log/mongrel.12002.pid"
    if totalmem is greater than 3% for 5 cycles then restart       # eating up memory?
    if cpu is greater than 80% for 5 cycles then restart           # hung process?
    if failed port 12002 protocol http request '/forum' with timeout 30 seconds then restart  # check for response
    group mongrel
