# THESE SETTINGS ARE SOMEWHAT TUNED TO OUR SPECIFIC CONFIGURATION;
# PLEASE CONTACT xxx_liquidweb@smartflix.com BEFORE MAKING ANY CHANGES

[mysqld]
datadir=/home/mysql
max_connections = 400
safe-show-database
skip-locking
key_buffer = 256M
max_allowed_packet = 1M
table_cache = 512
sort_buffer_size = 2M
read_buffer_size = 2M
read_rnd_buffer_size = 2M
myisam_sort_buffer_size = 64M
thread_cache_size = 8
query_cache_size= 64M
thread_concurrency = 8
skip_name_resolve

# DO NOT CHANGE THE WAIT_TIMEOUT SETTING TO LESS THAN 90!!!
wait_timeout = 120

# INNODB settings
innodb_buffer_pool_size = 2048M            # 50% of system memory
innodb_flush_method = O_DIRECT             # We can bypass the OS cache for INNODB
innodb_flush_log_at_trx_commit = 2         # We're OK with possibility of losing 1-2 seconds of data on complete OS crash
innodb_additional_mem_pool_size = 20M
innodb_log_file_size = 64M
innodb_log_buffer_size = 8M

[mysqldump]
quick
max_allowed_packet = 16M

[mysql]
no-auto-rehash

[isamchk]
key_buffer = 128M
sort_buffer_size = 128M
read_buffer = 2M
write_buffer = 2M

[myisamchk]
key_buffer = 128M
sort_buffer_size = 128M
read_buffer = 2M
write_buffer = 2M
