<h1>The SmartFlix website is temporarilly down<h1>

<p>
Please bear with us as our web site is under renovation.  University orders
will ship as normal during the down time.  If you wish to cancel a
university subscription in the interim, please send email to
info@smartflix.com with details and we'll help you out.
</p>

<p>
Thanks for your patronage over the years, and thanks for your patience.
</p>
