<h1>One <%= @origin.class.to_s %></h1>
<%= link_to "back to index", :action => :index %>


<%= render(:partial => 'admin/shared/show_basicdata', :locals => { :item => @origin, :partials => {} })  %>
<%= render(:partial => 'admin/shared/show_relations', :locals => { :item => @origin, :reject => [] })  %>
