<!--
  <h2>Happiness Survey</h2>
  <%= if (0 == @happiness.size) then "<i>none</i>" end %>
  <table border=0>
      <% @happiness.keys.sort.each do |date| %>
      <tr><td width=50px></td><td><%= date %></td><td> happiness: <%= @happiness[date] %></td></tr>
      <% end %>
  </table>
-->

