<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>SmartFlix.com</title>
<link rel="shortcut icon" href="http://smartflix.com/images/favicon.ico" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
body {margin: 0px; padding: 0px; background-color: #848284;}
</style>
</head>

<body margin="0" padding="0">

<div style = "background-color: #848284; margin: 0px; padding: 0px; padding-bottom: 60px; padding-top: 20px; font-family: georgia, serif; text-align: center;">
<div style = "background-color: white; width: 740px; margin-bottom: 40px; padding-bottom: 0px; text-align:left; margin: 0px auto; border:1px solid black;">

  <div style = "margin:0px; padding:0px; width:740px; background-color:#eceadd;">
    <a style = "color: #991a14; font-weight: bolder; font-size: .9em; line-height: 1.4em;" href="http://smartflix.com"><img style = "margin-left:20px; margin-top:20px; margin-bottom:20px;" border=0 src="http://smartflix.com/images/new_logo.jpg"></a>
  </div>

  <div style = "background-color:#107089; height:30px; width:740px;">
    <p style = "color:white; font-size:0.75em; margin-top:0px; padding-top:6px; padding-left:20px; font-family: verdana, sans bold;">
      Spend a Week with an Expert!
    </p>
  </div>

  <div style = "padding-left: 20px; padding-right: 20px; padding-top: 20px; width: 700px;">

