<p>Dear <%= h(@customer.full_name) %>,</p>

<p>We're happy that you're still enjoying <%= @university.name %>
... but we wanted to let you know that your queue is running low!</p>

<p>Did you know that you can add almost ANY SmartFlix dvd to your
queue?</p> Just because you started out with oil painting videos is no
reason <p>that you can't add some sculpture DVDs...or learn
welding!</p>

<p>Or, if you started out learning machining, why not check out a</p>
blacksmithing DVD, or improve your photography skills?
<p>
Poke around the website - with over 6,000 different how-to topics
you'll find something you'll love!</p>

<p>(...and your queue will thank you!)</p>

<p>
Sincerely,</p>

<p>The SmartFlix Team</p>

<p><%= @university.name %>
http://smartflix.com</p>


<p>This email address was given to us by you or by one of our customers. If</p>
you did not signup for an account, or feel that you have received this
<p>email in error, please send an email to info@smartflix.com</p>

