<html>

<head>
<title>SmartFlix.com</title>
</head>

<body bgcolor="#f2f2f2" link="#6776B7" alink="#6776B7" vlink="#6776B7" text="#000000">
<div align="center">
<table width="620" border="0" cellspacing="0" cellpadding="0" bgcolor="white">
<tr>
<td width="8" height="8"><img src="http://smartflix.com/images/email_tl.gif" width="10" height="10" border="0"></td>
<td width="604" height="8" style="border-top:solid 2px #B5B5B5"><img src="http://smartflix.com/images/email_spacer.gif" width="1" height="1" border="0"></td>
<td width="8" height="8"><img src="http://smartflix.com/images/email_tr.gif" width="10" height="10" border="0"></td>
</tr>
<tr>
<td width="8" style="border-left: solid 2px #B5B5B5"><img src="http://smartflix.com/images/email_spacer.gif" width="1" height="1" border="0"></td>
<td width="604">

<a href="http://smartflix.com/"><img src="http://smartflix.com/images/email_logo.jpg" border="0"></a>

<p>

<font face="Verdana,Arial,sans-serif">
