<p>It's Xxx - founder of SmartFlix - here.</p>

<p>You created an account at SmartFlix.com a while back and we've noticed
that you're not using one of the best money-saving features that
SmartFlix offers: a subscription that lets you save over 75% off our
normal rates.</p>

<p>
I'll cut to the case: we want you back.  ...and we'll give you an amazing offer to make it happen.
</p>

<p>Do you feel rushed when you rent a <%= @univ.name_verb.downcase %>
how-to DVD for just one week?  With SmartFlix Universities, you can
rent all the how-to DVDs you want, on whatever topic you want
(Cooking, Woodworking, Oil Painting, Metalworking, and dozens more)
and get to keep the DVDs for as long as you want with no late fees.
</p>


<p>Promises are good, but seeing is believing.  I don't want you to take
my word for how great a subscription is.  I want you to try it for a
month - for free.
</p>


<p>Just go here and sign up for a risk-free trial of DVDs.
</p>

<p>
<%=  link_to("Try a risk-free trial now", 
              univstore_welcome_back_url(:host => WEB_SERVER,
                                         :univ_id => @univ.id,
                                         :abtvid => @abtvid,
                                         :token => @token)) %>
</p>

<p>You can cancel at any time.
</p>


<p>Whether you stick around for two years, or just two weeks, the first
month is 100% free.  A full month of how-to DVDs for free.
</p>


<p>How-to DVDs are pricey to buy - most of them cost a lot more than the
DVDs you might buy at Target or Costco.  I love picking up "Iron Man"
or some other action movie for $11 as much as you do, but the average
price of a how-to DVD is over $40 - with many titles selling for $80
or more.
</p>


<p>To buy three how-to DVDs per month you could spend over $240.  There's
a ton of information there, but is it really worth $240?  Maybe so,
maybe not - but it would be nice if you could watch those videos for
less.  For a lot less, ideally.
</p>


<p>SmartFlix has a solution: the ability to view this huge library of
great how-to information for almost nothing.
</p>


<p>Think about it: $240 worth of knowledge on hard-to-learn topics like expert oil
painting, machinist skills, blacksmithing, wood carving, wood turning,
and more, every month, for just pennies on the dollar.
</p>


<p>Try SmartFlix university today and learn the skills you want to have,
entirely risk free, and with the first month free.
</p>


<p>
<%=  link_to("Try a risk-free trial now", univstore_all_url(:host => SmartFlix::Application::WEB_SERVER, :abtvid => @abtvid, :token => @token)) %>
</p>



