
  ...

  <p>Confirmation of Delivery of Rental Merchandise</p>

  <p> To save you money, we use first class mail to deliver rental
  merchandise to you, and the Post Office does not offer delivery
  confirmation as part of this service.  </p>

  <p>
  When we calculate that the rental merchandise should have arrived at your address we will send you an email saying something like "it should be there by now, please return it by date X".
  If the item has not arrived at your address, you agree to send us an email within two weeks of our email.
  <b>You agree that if you do not send us such an email, both you and we shall consider the merchandise to have been delivered to you in good condition.  </b>
  </p>



    ...

    <p>	Return of Rental Merchandise</p>

    <p>	1. You agree to return the video within one week after it arrives. That is, if it arrives on a Monday, you will return it by the following Monday (or Tuesday, if Monday is a holiday). You will include the packaging and any accompanying written material.</p>

    <p>	2. You agree to correctly secure the package for return shipment to us, to prevent any loss of contents or damage. You will use the enclosed adhesive tabs and may use additional tape.</p>

    <p>	3. Pre-paid postage is included on the return packaging for shipments from within the United States. If you are returning it from outside of the United States, you agree to affix the correct postage.</p>

    <p>	Rental Beyond One Week</p>

    <p>	You agree that in the event you are late in returning the merchandise or decide to keep it for more than just one week, you will be charged additional weekly rental terms and authorize us to charge your credit card account up to the replacement value. That is because if you keep it for more than one week, we cannot rent it to someone else. Unlike the typical video store that has a wall full the latest releases stacked several deep, we often have only a single copy of any given title.</p>

    <p>	Failure to Return Merchandise</p>

    <p>	You agree that if you fail to return the merchandise, or if you return it damaged or destroyed, including because it was lost, damaged or destroyed in transit because you did not properly secure the package, or because your dog ate it or chewed on it, you will gladly (well, it doesn't have to be gladly) pay for the replacement cost (including taxes and shipping, plus a $10 fee to cover the cost of restocking), and you authorize us to charge your credit card account for that cost. (Keep in mind that most of our videos cost more than the mass-produced popular Hollywood films, and the replacement cost of some of our videos may be several hundred dollars.)</p>

    ...

    <p>Communications</p>

    <p>You agree to provide us with an active e-mail address; you consent to receiving business-related e-mail communications from us using that e-mail address, and agree that notices relating to your account will be effective if sent to the e-mail address you provided. </p>
    ...
