<h3  style="margin-left:20px; color:#dd0000;"> 
  <i>
    <% if local_assigns[:prefix] %>
      <div> 
          <%= prefix %>
      </div>
    <% end %>
    <div style="margin-top:20px;">Find videos and click 'add to queue'.</div>
    <div style="margin-top:20px;">Search using the search box in the upper right, or the categories to the left.</div>
  </i>
</h3>
