<h1>New cobrand_payment</h1>

<%= error_messages_for :cobrand_payment %>

<%= form_for(:cobrand_payment, :url => cobrand_payments_path) do |f| %>
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', cobrand_payments_path %>
