</font>

</td>
<td width="8" style="border-right: solid 2px #B5B5B5"><img src="http://smartflix.com/images/email_spacer.gif" width="1" height="1" border="0"></td>
</tr>
<tr>
<td width="8" height="8"><img src="http://smartflix.com/images/email_bl.gif" width="10" height="10" border="0"></td>
<td width="604" height="8" style="border-bottom:solid 2px #B5B5B5"><img src="http://smartflix.com/images/email_spacer.gif" width="1" height="1" border="0"></td>
<td width="8" height="8"><img src="http://smartflix.com/images/email_br.gif" width="10" height="10" border="0"></td>
</tr>
</table>
</div>
</body>
</html>
