  <div style="width:100%;background-color:gray;padding:0px;margin:0px auto;text-align:center;">
    <div style="width:740px;background-color:white;padding:0px;margin:0px;text-align:left;">
      <div style="margin:0px;padding:0px;width:740px; background-color:#eceadd;">
        <table border=0>
          <tr>
              <td width=500px><h1>Title Goes Here</h1></td>
              <td><img style="margin-left:20px;margin-top:20px;margin-bottom:20px;" border=0 src="http://smartflix.com/images/new_logo.jpg"></td>
          </tr>
         </table>
      </div>
    </div>

  <div style="width:740px;background-color:white;padding:0px;margin:0px;text-align:left;">
    <div style="background-color:#107089;height:30px;width:740px;">
      <p style="color:white;font-size:0.75em;margin-top:0px;padding-top:6px;padding-left:20px;">Offering <%= num_videos %> how-to videos in <%= num_cats %> categories!</p>
    </div>

        <!--left column-->

        <div style="width:60%;margin:0px;padding:0px;float:left;margin-right:20px;">

          <h2 style="margin-top:20px;margin-left:20px;margin-right:20px;font-family:georgia,serif;font-size:1.2em;line-height:1em;">
          You are bidding on a coupon good for 1 week's free rental of the DVD from <a href="http://smartflix.com">SmartFlix.com</a>
          </h2>

          <h2 style="margin-left:20px;margin-right:20px;margin-bottom:40px;font-family:georgia,serif;font-size:1.2em;line-height:1em;">
			...the world's largest rental store for how-to videos since 2003!
		  </h2>

          <h3 style="margin-left:20px;margin-right:20px;font-family:georgia,serif;font-size:0.85em;line-height:1em;">
			Rent Online
		  </h3>

          <p style="margin-left:20px;margin-right:20px;font-size:0.75em;font-family:georgia, serif;">
			Rent online, at any time of day, and get the videos shipped straight to you (with free shipping in both directions!).
		  </p>

          <p style="margin-left:20px;margin-right:20px;font-size:0.75em;font-family:georgia, serif;">
			SmartFlix is a service that rents video DVDs - just like your corner video store... but we rent the kind of videos that you can't find on every street corner. Videos on running lathes, melting glass, welding steel... cool videos!
		  </p>

          <h3 style="margin-left:20px;margin-right:20px;font-family:georgia,serif;font-size:0.85em;line-height:1em;">
			<%= name %>
		  </h3>
           <%= titleDescription %>

          <h3 style="margin-left:20px;margin-right:20px;font-family:georgia,serif;font-size:0.85em;line-height:1em;">
			Other Videos
		  </h3>

          <p style="margin-left:20px;margin-right:20px;font-size:0.75em;font-family:georgia, serif;">
			Some of the 
			<a href="<%= cat_url %>"><%= cat_name %></a> videos we carry include:


<% titlepairs.each do |titlepair| %>
   <a href="<%= titlepair[:url] %>"><%= titlepair[:text] %></a>,
<% end %>

          </p>

          <h3 style="margin-left:20px;margin-right:20px;font-family:georgia,serif;font-size:0.85em;line-height:1em;">
			The Coupon
		  </h3>

          <p style="margin-left:20px;margin-right:20px;font-size:0.75em;font-family:georgia, serif;">The coupon is also good for rentals in any of our categories, including:

<% catPairs.each do |catpair| %>
<a href="<%= catpair[:cat_url] %>"><%= catpair[:cat_text] %></a>,
<% end %>

 ...and hundreds more.</p>

          <p style="margin-left:20px;margin-right:20px;font-size:0.75em;font-family:georgia, serif;">We are passionate about customer service, and have the <a href="http://smartflix.com/store/testimonials">testimonials to back it up</a>. We're not happy unless you're happy!</p>

          <p style="margin-left:20px;margin-right:20px;font-size:0.75em;font-family:georgia, serif;">(<span style="color:red;">Please note:</span> this coupon is valid for first-time renters only; the coupon up for auction will not work for existing customers, nor can an auction winner use more than one coupon either in a single order or across multiple orders. Sorry!)</p>

          <h3 style="margin-left:20px;margin-right:20px;font-family:georgia,serif;font-size:0.85em;line-height:1em;">The Fine Print</h3>

          <p style="margin-left:20px;margin-right:20px;font-size:0.55em;font-family:georgia, serif;">Note that Massachusetts residents are responsible for paying sales tax at the time that they rent a DVD.</p>

          <p style="margin-left:20px;margin-right:20px;font-size:0.55em;font-family:georgia, serif;">Note that some DVDs are premium priced rentals, and rent for $14.99 per week. The rental coupon you are bidding on is valued at $9.99, and thus may not cover the complete rental fee if you select a premium DVD.</p>

          <p style="margin-left:20px;margin-right:20px;font-size:0.55em;font-family:georgia, serif;">Shipments to Canada do not include return postage; Canadian customers are responsible for affixing all required postage for return shipment.</p>

          <p style="margin-left:20px;margin-right:20px;font-size:0.55em;font-family:georgia, serif;">Many of the DVDs we rent are DVD+R or DVD-R format. Almost all modern DVD players can play these, but please verify that your DVD player can play these discs before bidding; we can not give refunds to customers who buy a coupon and/or rent a video on a medium that they can not view.</p>
          <p style="margin-left:20px;margin-right:20px;font-size:0.55em;font-family:georgia, serif;">Every DVD we carry is a legitimate copy, legally purchased either directly or indirectly from the copyright holder, and we are fully willing and able to prove this to eBay personnel.</p>
          <p style="margin-left:20px;margin-right:20px;font-size:0.55em;font-family:georgia, serif;">Please read our answers to <a href="http://smartflix.com/help">Frequently Asked Questions</a>.</p>
          <p style="margin-left:20px;margin-right:20px;font-size:0.55em;font-family:georgia, serif;">The terms and conditions for using the website and the service are <a href="http://smartflix.com/store/conditions">here</a>. Please do not bid unless you have read them and agree to them.</p>
          <p style="margin-left:20px;margin-right:20px;font-size:0.55em;font-family:georgia, serif;">The winning bidder will receive the coupon by email with in 48 hours of the auction close.</p>
          <p style="margin-left:20px;margin-right:20px;font-size:0.55em;font-family:georgia, serif;">The coupon is good for one year from the date of issue.</p>
          <p style="margin-left:20px;margin-right:20px;font-size:0.55em;font-family:georgia, serif;">The coupon is usable only by first-time customers. If you have already rented from SmartFlix, this coupon WILL NOT work for you. If you bid on and win two coupons, the first one will work for you, but the second one will not. We can not refund fees for coupon purchases; you will have to give the coupon away to a friend or relative, or resell it. Again: PLEASE do not bid if you have already rented from SmartFlix!</p>
          <p style="margin-left:20px;margin-right:20px;font-size:0.55em;font-family:georgia, serif;">We are a registered Massachusetts company, and have been in business since 2003.</p>
          <p style="margin-left:20px;margin-right:20px;font-size:0.55em;font-family:georgia, serif;">We pride ourselves on our excellent customer support. You can <a href="http://smartflix.com/store/contact_us">contact us</a> at any time.</p>

        </div>

        <!--right column-->

        <div style="margin:0px;padding:0px;padding:0px;">

          <img style="margin-top:20px;"  src="1.jpg" name='SlideShow' width=180 height=180>

          <h3 style="margin-right:20px;font-family:georgia,serif;font-size:0.85em;line-height:1em;">How it works</h3>

          <ol style="">
            <li style="margin-right:20px;margin-bottom:20px;font-size:0.75em;font-family:georgia, serif;">From a web page, you select which videos you want to rent, and then click "secure checkout". The coupon you win in this auction entitles you to a free rental.</li>
            <li style="margin-right:20px;margin-bottom:20px;font-size:0.75em;font-family:georgia, serif;">SmartFlix will send you the video in a cardboard mailer (there is no shipping charge!).</li>
            <li style="margin-right:20px;margin-bottom:20px;font-size:0.75em;font-family:georgia, serif;">You get to watch the video for one week, then you put the video back in the cardboard mailer and drop it in the mail (no stamps needed!)</li>
          </ol>
        </div>

<div style="clear:both;">&nbsp;</div>


<script>

// (C) 2000 www.CodeLifter.com
// http://www.codelifter.com
// Free for all users, but leave in this  header
// NS4-6,IE4-6
// Fade effect only in IE; degrades gracefully

// Set slideShowSpeed (milliseconds)
var slideShowSpeed = 2000

// Duration of crossfade (seconds)
var crossFadeDuration = 0

// Specify the image files
var Pic = [ <%= image_urls %> ]


// =======================================
// do not edit anything below this line
// =======================================

var t
var j = 0
var p = Pic.length

var preLoad = new Array()
for (i = 0; i < p; i++){
   preLoad[i] = new Image()
   preLoad[i].src = Pic[i]
}

function runSlideShow(){
   if (document.all){
      document.images.SlideShow.style.filter="blendTrans(duration=2)"
      document.images.SlideShow.style.filter="blendTrans(duration=crossFadeDuration)"
      document.images.SlideShow.filters.blendTrans.Apply()     
   }
   document.images.SlideShow.src = preLoad[j].src
   if (document.all){
      document.images.SlideShow.filters.blendTrans.Play()
   }
   j = j + 1
   if (j > (p-1)) j=0
   t = setTimeout('runSlideShow()', slideShowSpeed)
}
runSlideShow();

</script>
  </div>
  </div>
