<h1>Universities</h1>

<%= render(:partial => 'admin/shared/show_basicdata', :locals => { :item => @item, :partials => {} })  %>
<%= render(:partial => 'admin/shared/show_relations', :locals => { :item => @item, :reject => [] })  %>
