  <div class="uni_image"  style="display:block; width:530px; height:260px; background-image:url('/images/univstore/frontbanner_<%= id %>.jpg');">
     <h1>Learn a new skill!</h1>
     <h1>Only $<%= University.base_plan_price.to_f %> a month.</h1>

     <ul>
       <li>Get 3 how-to DVDs / month</li>
       <li>Free shipping both ways</li>
       <li>Cancel any time</li>
     </ul>
  </div>
