<div id="how_it_works_box">
  <h1>How It Works</h1>

  <p>Learn a new skill or improve a new one, with a complete
  programs of how-to DVDs.
  </p> 

  <p> We ship you 3 DVDs per month - keep them as long as you want, with
  no late charges!  When you're ready for more, mail those DVDs back to
  us, and we'll send you the next 3 DVDs.  </p>

  <p> With exciting, informative, well shot videos from the top names in
  each field that you can keep as long as you want, the ability to
  cancel at any time, this is a bargain that you can't afford to miss!
  </p>
</div>
