<div class="clear"></div>
<div id="footer">
  <p>
    <a href="/">SmartFlix Universities</a> |
    <a href="/store/press">Press</a> |
    <a href="/store/about_us">About SmartFlix</a> |
    <a href="/store/conditions">Terms and Conditions</a> |
    <a href="/help/legal">Legal</a> |
    <a href="/store/contact_us">Contact SmartFlix</a> 
    <br>
    If you like SmartFlix, please check out our <a href="http://heavyink.com">online comic book store</a>!
    <br>
    &copy; 2006-2009 SmartFlix
  </p>

</div>

