<div>
  <img src="/images/univstore/placeholder_banner.jpg" width="950px" height="300px">
</div>

<div id="how_it_works_box">
here
</div>

<div id="right_col">
   <%= render :partial => 'signup', :locals => { :customer => @customer } %>
</div> 


<%= render :partial => 'testimonials' %>
