<div class="new_customer_widget" id="new_customer_widget_success" >
      <div class="new_customer_widget_title">

          <div class="new_customer_widget_title_left">
			  <h1>Success! </h1>
		  </div>
      </div>

      <div class="new_customer_widget_body">
           Thanks!  You're now registered with SmartFlix!
      </div>
</div>
