<% if @line_item -%>

    <p>
    Thanks for letting us know about the misplaced or damaged DVD, customer
    support has been notified and will contact you shortly to help resolve
    the issue.
    </p>

    <%= report_problem_close(:done) %>

<% end -%>
