<% if (@line_item && @replacement_order) -%>

    <p>
    Thanks for letting us know about the problem, we'll send a replacement
    ASAP! Please remember to send back both the original shipment, once it
    arrives, and the replacement!
    </p>

    <p>
    Your replacement order number is
    <%= link_to "#{@replacement_order.id}", :action => 'order', :id => @replacement_order.id %>
    </p>

    <%= report_problem_close(:done) %>

<% end -%>
