<% if (@line_item) -%>

    <p>
    Thanks for letting us know about the problem, customer support has been
    notified about the issue and will send a replacement return shipping box.
    </p>

    <%= report_problem_close(:done) %>

<% end -%>
