<div class="text-content">

<h1>Logout</h1>

<p>
You have been logged off your account, it is now safe to leave the
computer.
</p>

<p> Your shopping cart has been saved, and will be restored when
you log back in.  </p>

<%= link_to "Log in now", :action => :login %>.

</div>
