<div class="text-content">

<h1>Reset Password</h1>

<% if (request.post? && params[:email]) -%>

  <div id="post-reset-password">
  <p>Email has been sent to the email address '<%= h(params[:email]) %>' with instructions for resetting your password.</p>
  </div>

<% else -%>

  <div id="pre-reset-password">
  <p>Enter your e-mail address and we'll send you an e-mail message <!-- ' -->
  that allows you to reset your password.</p>

  <%= form_tag do -%>
    <%= text_field_tag :email %>
    <%= Button.new( "submit", :class => :orange, :method => :submit) %>
  <% end -%>
  </div>

<% end -%>

</div>
