<h1>New magazine_cat</h1>

<%= error_messages_for :magazine_cat %>

<%= form_for(:magazine_cat, :url => magazine_cats_path) do |f| %>
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', magazine_cats_path %>
