<% if customer && !customer.recommended_categories.empty? %>
  <% category = customer.recommended_categories.sort_by { rand }.first -%>
  <% videos = category.listable_products.select { |v| v.days_backorder == 0 }.sort_by { rand }[0,2] -%>
  <div class="category-listing-section">
    <h1 class="rent-dvds-like">Rent <%= link_to_category category %> DVDs available now, like</h1>
    <%= render :partial => 'product_listing', :locals => { :products => videos } %>
  </div>
<% end %>
