<%# COMPLETED ABTEST: Is a find help link useful? Answer: yes! -%>
<div id="help-find">
  <div>Can't find what you're looking for?  </div>
  <%= link_to "We can help!", { :controller => 'help', :action => 'find' } %>
</div>

