<div class="text-content">

<h1>What we do</h1>

<p>
SmartFlix is a service that rents DVDs - just like your
corner video store - but we rent the kind of videos that you can't
find on every street corner.  Videos on running lathes, making glass
beads, welding steel, oil painting, building guitars... cool videos!
</p>

<p>
SmartFlix began serving hobbyists and hardware hackers in early 2003, and
has been growing explosively since then.
</p>


<h1>Who we are</h1>

<p>
SmartFlix is a registered Massachusetts corporation, and
operates out of Arlington, MA (just a few subways stops from Harvard
Square and MIT).  A few of the people you'll find there are:
</p>

<table border=0>
<tr>

<td>
<%= image_tag 'about_us/xyz_1.jpg', :border => '0' %>
</td><td valign="top">
<p>
<b>Xxx </b>, founder, president, and original programmer.  Xxx
started Technical Video Rental (now SmartFlix) because he wanted a low-cost way to
learn about his desktop Sherline lathe.  In our full-page print
ads, you can see Xxx' hands holding the angle grinder.
</p><p>
(And, yes, he knows that he should have the safety guard in place.)
</p>
</td>

</tr><tr>

<td>
<%= image_tag 'about_us/xxx_1.jpg', :border => '0' %>
</td><td valign="top">
<p>
<b>XXX</b>, CTO.  Pete graduated from Cornell
University with a degree in Computer Science, and has brought his
multi-disciplinary expertise to bear on e-commerce and application
security at a variety of startups.    In our full-page print
ads, you can see Pete's hands playing the guitar.
</p>
</td>

</tr><tr>

<td></td>
<td>
<p>
<b>XXX</b>, Purchasing Manager.  Susan graduated
from The University of California, Pennsylvania, and has helped out
customers at several startups in the Boston area.
</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</td>

</tr><tr>

<td>
<%= image_tag 'about_us/df_1.jpg', :border => '0' %>
</td><td valign="top">
<p>
<b>XXX</b>, Art Director.  Dan graduated from the University of
New Hampshire, and has done design work for a variety of firms.<p>In our full-page print
ads, you can see Dan's hands drawing our old logo, when we were still Technical Video Rental.
</p>
</td>

</tr>
</table>


<h2>Fun Facts</h2>

<p>
The first video we rented out was "Fundamentals of Machine Lathe Operation"...on VHS.
</p>

<p>
In our first month of operation, we rented out one video.  In the
second month, we rented three videos.  In our third month, we rented
out 14 videos...and growth has remained steady since then!
</p>

<p>
SmartFlix is - to the best of our knowledge - the largest
how-to video rental store in the world.
</p>

<p>
SmartFlix runs entirely on open source software: we use
Apache, Linux, PERL, mySQL, emacs, the Gimp, ruby, and KDE to get our
jobs done.
</p>

<p>
Dogs are welcome in the SmartFlix offices.  Given that most employees have at
least one dog, there have been occasions when there have been more
dogs than people here!
</p>

</div>
