<div class="text-content">
From time to time SmartFlix runs a promotional contest.  Exact rules may vary,
but the following rules apply to all:
<p>
CONTEST RULES:
<p>
To be eligible, entries must be completed and received on or by the
closing date of the draw. Incomplete entries will be disqualified. All
entries shall become the property of Technical Video Rental Inc.  Technical
Video Rental Inc. is not responsible for lost, misdirected or delayed
entries. Entries received by telephone, fax, courier or personal
delivery will not be accepted.
<p>
The contest is open to the general public as well as anyone
currently renting videos from Technical Video Rental, Inc. who is 
of age of majority. Identification must be produced on request.
Employees of Technical Video Rental, Inc., advertising
and promotional agencies and their respective affiliates and associates
and such employees' immediate family members and persons with whom such
employees are domiciled are excluded from this contest. 
<p>
No purchase necessary: to receive an entry form send, via first class mail, a SASE (self-addressed
stamped envelope) and a note including your full name and email address to
Entry Form Request, SmartFlix.com, 7 Central
Street, Suite 140, Arlington MA 02476.  An entry form will be sent.
Original Entry Forms may be submitted by mail, one per day, during the life of a contest.
<p>
The prize is not redeemable in cash and must be accepted as awarded. 
Decisions of the contest judges are final - no substitutions will be available.
<p>
By claiming the prize, the winner authorizes the use, without
additional compensation of his or her name and/or likeness and/or
voice/photograph and municipality of residence for promotion and/or
advertising purposes in any manner and in any medium (including without
limitation, radio broadcasts, newspapers and other publications and in
television or film releases, slides, videotape, distribution over the
internet and picture date storage) which Technical Video Rental Inc. may deem appropriate. 
In accepting the prize, the winner, and any guest(s),
acknowledges that Technical Video Rental Inc. may not be held liable for any
loss, damages or injury associated with accepting or using this
prize(s). 
<p>
Detailed contest rules applicable to this contest, including
contest entry dates, how to enter, and prize value, number and any
restrictions applicable to these prizes are available upon request from
Technical Video Rental Inc.
<p>
Winners and any guests at the age of majority may be required to sign a
release form as prepared and accepted by Technical Video Rental Inc.
acknowledging their acceptance and understanding of the complete
contest rules. 
<p>
Technical Video Rental Inc. retains the rights, in its absolute and
sole discretion, to make substitutions of equivalent kind or
approximate value in the event of the unavailability of any prize or
component of the prize for any reason whatsoever. 
<p>
Approximate value of prizes vary. 
<p>
Prize cannot be used in conjunction
with any other promotion or offer and may not be separated. 
<p>
Void where prohibited by law.
<p>
Any disagreement will be settled by binding arbitration in Massachusetts.
<p>
Chance of winning depends on the number of valid videos rented, plus the number of valid entry forms received during the contest period.
<p>
This contest is subject to all federal, provincial and municipal laws. 
<p>
Technical Video Rental Inc. reserves the right to withdraw or terminate this contest at any time without prior notice. 


</div>
