<div class="text-content">

<h1>How it Works</h1>

<p>
SmartFlix is a service that rents video DVDs - just like your corner
video store... but we rent the kind of videos that you can't find on
every street corner.  Videos on running lathes, making glass beads,
welding steel, oil painting, building guitars... cool videos!
</p>

<p>
Rent online, at any time of day, and get the videos shipped straight
to you (with return postage included free!).
</p>

<p>
Here's how regular rentals work:
</p>

<ol>

    <li><p>From a web page, you select which videos you want to rent, and then
    click "secure checkout". (By clicking "secure checkout" you signal that
    you agree to the
    <%= link_to 'terms and conditions', :action => 'conditions' %>
    of this service).</p>

    <p>Most videos are just $9.99 each (a few are more), per week.  All multi-dvd
    sets of videos are discounted.</p></li>

    <li><p>SmartFlix will send you the video in a cardboard
    mailer (there is </b>no</b> shipping charge!).</p></li>

    <li><p>You get to watch the video for one week, then you put the video back
    in the cardboard mailer, stick a pre-printed return-address and return-postage
    label on the mailer, and drop it in the mail (no stamps needed!  Your
    initial payment covers everything!)</p>

    <p>(Here's what we mean by "one week": If the video arrives at your address on a Wednesday,
    you must put it in the mail on or before the following Wednesday).</p></li>

</ol>

<p>
If you have other questions about how regular rentals work, check out our <%= link_to 'help', :controller => 'help', :action => '' %> section.
</p>

<h1>SmartFlix Universities</h1>

<p>
You can add a SmartFlix University to your shopping cart and check out.
</p>

<p>
Each SmartFlix University is a tailored course of DVDs to give you a new skill at a super-discounted price.
</p>

<p>
For a low monthly fee, you get up to 3 new dvds in your chosen subject area each month.  Keep them as long as you want.  Return them, and get more.
</p>

<p>
If you have other questions about how SmartFlix Universities  work, check out our <%= link_to 'university help', :controller => 'help', :action => 'univ_faq' %> section.
</p>


<h3>The Fine Print</h3>
<p>
NOTE: shipments to Canada do not include return postage; Canadian
customers are responsible for affixing all required postage for return
shipment.
<p>
NOTE: many of the DVDs we rent are DVD+R or DVD-R format.  Almost all
modern DVD players can play this, but please verify that
your DVD player can play these discs before renting; we can not give refunds 
to customers who rent a video on a medium that they can not view.
<p>


</div>
