<div class="text-content">


By submitting an image to Technical Video Rental, Inc. d/b/a SmartFlix
(SMARTFLIX) for the purpose of entering your work in a contest run by
SMARTFLIX, or for other purpose, and in return for the benefit of a
chance to win a prize, and/or publicity for your work, you agree that:

<ul>
<li> this agreement is made under the laws of Massachusetts and the
  United States
<li> any disagreements will be settled by binding arbitration in
  Massachusetts 
<li> the value of the chance of publicity is $0.01, the value of the chance to win any prize offered is $0.01, and the
  value of the use of the images is no more than $0.02
<li> you are over 18 years of age, and are a citizen of the US or Canada
<li> you created the piece of work depicted
<li> you own full copyright in the images submitted
<li> you give SMARTFLIX a limited license / permission to use your
  images, or derivative works, and your name on our website, in print
  advertising, and in other media, for purposes of advertising this
  contest or other contests, and/or promoting the SMARTFLIX service,
  or other services run by Technical Video Rental Inc.
<li> if any people are shown in the image, all people have given you
  their full permission to display their images online or elsewhere
  and have given you permission to delegate that permission, and you
  do, in fact, delegate that permission to SMARTFLIX  
<li> if you lack the legal rights to use an image you submit, or lack the legal rights to delegate permission for the use of the image, or lack the legal rights to use the images of people in an image you submit, or lack the legal rights to delegate permission for the use of the images of the people in an image you submit, you take full legal responsibility for any damages.
</ul>

Technical Video Rental Inc. reserves the right to withdraw or terminate this contest at any time without prior notice. 


</div>
