<h1>Privacy Policy</h1>
<p>
We will not disclose your personally identifiable information (that is,
information which identifies you as having requested or obtained specific
videos) to anyone without first obtaining your consent at the time the
disclosure is sought.  The only exceptions are (1) if the disclosure is required
by law (such as a court order), (2) incident to the ordinary course of business
(such as processing your order or obtaining the return of the video), or (3) the
disclosure is made to you, at your request, or with your written permission at
the time the disclosure is sought.
</p>

<p>
We may collect, analyze and share aggregate data from all of our customers to
provide better service (for example, determining which titles or topics are in
greatest demand).  Also, if - but only if - you
opt in, we may share your name and address with other merchants for
cross-marketing back to you, but without revealing specific videos you rented
(for example, if a welding supply company would like to make an offer to
customers who rented welding videos, we may supply such list, but your name and
address would appear only if you chose such service).
</p>

<p>
Current Version Date:  30 Jan 2006
</p>


