<div class="text-content">

<h1>The Blog Will Be Back Soon!</h1>

<p>We're still working on getting some things integrated with the new
site, and the blog is one of them. We'll have it back up soon!</p>

</div>
