<div class="text-content">

<h1>Wonder how well the service works?</h1>

<p>
Here are some unsolicited comments from customers over the last two years:
</p>


<div class="comment">
Whoever is working on your website is doing a really nice job!  Tidy code
and nice clean design.  I wish more sites were as easy to navigate and clear
as yours.  Good job!
</div>
<div class="customer-name">-Michelle</div>


<div class="comment">
You're doing a great job and a great service. I'm here to stay!
</div>
<div class="customer-name">-Frank</div>

<div class="comment">
WOW, You really are as good as folks say you are.
</div>
<div class="customer-name">-Jim</div>

<div class="comment">
Thanks so much for offering such a great service. Loved the new oil painting and watercolor
video you just added. I'm thrilled to have found you!  Thanks so much.
</div>
<div class="customer-name">-Ann</div>

<div class="comment">
Thanks for your prompt response;  I am glad to have found your site, 
It helps me tremendously in teaching me new techniques for my graphics  
business!  Thanks again!!!!!
</div>
<div class="customer-name">-Ezequiel</div>


<div class="comment">
I love your service...ive ordered a few videos already and have many more i plan on renting more.
</div>
<div class="customer-name">-Jason</div>

<div class="comment">
Love your site! Keep up the great list, I see so many videos I want to rent!
</div>
<div class="customer-name">-Les</div>

<div class="comment">
Your service is great!!!
</div>
<div class="customer-name">-Sean</div>

<div class="comment">
This is now my favourite video rental store.  Thank you very much and
looking foward to my next rental.
</div>
<div class="customer-name">-Larry</div>

<div class="comment">
You are offering a great service!  These
are some of the most rare instructional videos I have seen, and many I
didn't even know existed.    Thanks!
</div>
<div class="customer-name">-Dee and Jas</div>

<div class="comment">
I love this service.
</div>
<div class="customer-name">-Greg</div>

<div class="comment">
You guys have a lot of things in stock me and some friends have
been wanting to see.   I'll be
sending a lot of business your way.
</div>
<div class="customer-name">-Wade</div>

<div class="comment">
I just wanted to tell you what a great website this is! I went to
school at Wyoming Technical Institute in Laramie, Wyoming. While I was
there I took a street rod class learning how to build old cars. I
learned a lot there, but I have always wanted to learn more. I live in
Montana and it is tough to learn more about the customizing
industry. Your website has gave me more ideas than I could possibly
imagine. I just wanted to say THANK YOU!!!!
</div>
<div class="customer-name">-Dan</div>

<div class="comment">
Great service!  I see lots of DVDs on your site that I'd like to see.  I'll definately rent again!
</div>
<div class="customer-name">-Rob</div>

<div class="comment">
Your site is sooo impressive that one assumes 
after awhile that you have everything!  
</div>
<div class="customer-name">-Colin - "happy customer"</div>

<div class="comment">
<p>
These DVDs are EXCELLENT!!!  I expect that I will rent many more from you.  
They have just the right balance between professional, technical work and 
real-life, average guy working in his basement.  Instruction was clear, 
easy to follow, and reproducible!  (I can actually do this without being 
a rocket scientist...)
</p>
<p>
Thank you for a well done, much needed series.  I am passing around your 
website info to all my friends.  At the risk of sounding cliche, 
"There's something for everyone!"
</p>
</div>
<div class="customer-name">-Mike</div>

<div class="comment">
I sincerely like your operation and service in general, and you have been fair with me.  I have recommended your business to everyone I know, and hope it has sent you some business!
</div>
<div class="customer-name">-David</div>


<div class="comment">
I sincerely like your operation and service in general, and you have been fair with me.  I have recommended your business to everyone I know, and hope it has sent you some business!
</div>
<div class="customer-name">-David</div>


<div class="comment">
You rock!
</div>
<div class="customer-name">-Shane</div>

<div class="comment">
First of all let me say "Thank You," for your terrific service.  I've rented about a dozen videos from you now and enjoyed everyone of them.
</div>
<div class="customer-name">-Robert</div>


<div class="comment">
This system sure works great!  I am very pleased that I found you.  Now I'll see if I can start renting all of the DVD titles!  Thanks again!
</div>
<div class="customer-name">-Julie</div>

<div class="comment">
You have a unique and awesome service going there.
</div>
<div class="customer-name">-Bruce</div>

<div class="comment">
I plan to rent
many more videos for myself and through our school.  I
am interested in so many of your videos and I have
some money set aside in my schools budget that I will
be able to rent many over the next year.
</div>
<div class="customer-name">-David</div>

<div class="comment">
Thanks again! Your website Rocks! Every time I've had a question or problem 
you have been right on top of it. Nice to see customer service still does 
exist out there. Your product, shipping and return packaging are impeccable. 
You deserve a big pat on the back and A+++ on your report card! Keep up the 
great work and here comes my next order. Thanks again!
</div>
<div class="customer-name">-Richard</div>


<div class="comment">
I'm a first time renter, and believe me, I'll be back very soon for more, and I'm telling others as well! 
</div>
<div class="customer-name">-Stephen</div>

<div class="comment">
I like your business.  There's no way in hell I could afford to buy some 
of these titles.
</div>
<div class="customer-name">-Mitchell</div>


<div class="comment">
<p>
Man! What a super service! I got the Secrets of Tru Fire DVD and have
watched it 3 times already! you have some great titles! And I have
already told several of my painter friends about your site! I can wait
to watch some of the others...
</p>
<p>
It's really great to be able to preview the titles and see if it's
worth the high price some command! you guys are a godsend!
</p>
<p>
I must say I was sceptical at first...so much junk and bogus crap on
the internet...It's nice ot see a site that preforms just like
advertized!
</p>
<p>
Thank you! Thank You! Thank You! 
</p>
<p>
look for my next order soon!
</p>
</div>
<div class="customer-name">-Ron</div>

<div class="comment">
Thanks for the service you guys are providing. It's brilliant.
</div>
<div class="customer-name">-Howard</div>

<div class="comment">
Hi, this is wonderful!!!! I have been looking for something like
this forever! I found
your site and just wanted you to know that I think this idea is
awesome.  Good luck to you.
</div>
<div class="customer-name">-Anne</div>

<div class="comment">
I appreciate your wonderful customer service. It's a pleasure doing
business with you.
</div>
<div class="customer-name">-Julie</div>

<div class="comment">
I'll absolutely order again, I've never had a problem in the past, and
attribute the problem to a poorly made DVD.  You have a great service that
I'll come back to.
</div>
<div class="customer-name">-Alex</div>

<div class="comment">
I love 
your site and there'd be no way I could see these DVD's if not for your 
service so you can  count on making a pretty good pile from ME alone! 
The more I study, the more things I see I'd love to know about.  
</div>
<div class="customer-name">-Colin</div>

<div class="comment">
What you do is an extremely beneficial thing for all of us tinkerers; 
you have my undying support and thanks.
</div>
<div class="customer-name">-
T W
</div>

<div class="comment">
I think you are providing a great service, one hell of a product.
</div>
<div class="customer-name">-Ullrich</div>

<div class="comment">
BTW, your service just plain rocks. I came across it
by accident and I can't believe my luck.
</div>
<div class="customer-name">-Brian</div>

<div class="comment">
 AWESOME! I love the operation you guys run over there. Thanks,
</div>
<div class="customer-name">-Evelyn</div>

<div class="comment">
The best thing I like about your service is, being a accomplished artist
myself I cant see spending 40-70 bucks on a dvd that I may watch 1 time just
to check it out. I don't mind paying 10 bucks to rent it. Awesome service
man! </div>
<div class="customer-name">-Jay</div>

<div class="comment">
<p>
What a great resource you have here; there's something for
everyone that we can't get on Netflix...fantastic.
</p>
<p>
Thanks for your prompt reply, you've got yourself some repeat customers over
here, I can assure you.
</p>
</div>
<div class="customer-name">-Gabe</div>

<div class="comment">
Your service and
communication has always been great, and I'm glad to
hear that my order shipped out in a timely manner.  I
think you have made yourself a fantastic business and
I hope it lasts and grows even bigger, because I would
like to remain a loyal customer.
</div>
<div class="customer-name">-Russell</div>

<div class="comment">
I just LOVE !!!!!!!!!!! this service 
you have and am looking very forward to renting many more films.
Thank you sincerely!
</div>
<div class="customer-name">-Victoria </div>

<div class="comment">
Thanks so much....I am trying to start a 
little business of making some custom car interiors for stereo setups and 
shows and thhe videos help tremendously. Also, just starting out is very 
costly but thanks to you I can watch these for a fraction of the cost. 
THANKS FROM ME AND ALOT OF OTHER PEOPLE WHO JUST CAN'T AFFORD TO BUY 
THEM!!!!!!!!!!!
</div>
<div class="customer-name">-Jimmy</div>

<div class="comment">
I discovered your website last week and have been telling my friends
about it.  I can't remember the last time I was so impressed by
something "new".  Your website is easy to navigate, and your e mails
are timely and succinct.  When one DVD I requested was out of stock
you kept me informed and then told me again when it was shipped.  I
don't have to wait in line at the post office to return your nice
packing box!  Thank you for doing it right.
</div>
<div class="customer-name">-John</div>


<div class="comment">
Thank you.  This is a excellent dvd on oil painting. If knowledge is power, 
your product is a goldmine just  waiting for whoever comes looking.-----  
</div>
<div class="customer-name">-Anthony</div>


<div class="comment">
Great service!   I was worried about getting things becasue I live in Canada,  the video showed up last Friday,  I just shipped it back today.   A friend and I watched the video throughout the week.   This is a great service to offer, with hard to find videos!  Will definitly be renting again,  and will tell others about this as well.

Expect a good surge of rentals on automotive stuff soon -  when I tell my friends, I tell my friends.
</div>
<div class="customer-name">-Jonathan</div>


<div class="comment">
Please don't add any more movies. Its already too hard to decide what 
to get next.  I guess I'll start with blacksmithing and work my way down 
the alphabet. Hmm... that airplane stuff  looks interesting, Crap.
</div>
<div class="customer-name">-Tim</div>


<div class="comment">
Thank You very much! This is service above and beyond! I will be renting 
again.  Thank You
</div>
<div class="customer-name">-Roy</div>

<div class="comment">
Thank you for your very speedy reply.  All companies should do as good a
job at customer support as do you.
</div>
<div class="customer-name">-Browne</div>

<div class="comment">
Thank you for the opportunity to rent your King Private Pilot Videos.  Had I purchased them, it would have been almost $200.  I was able to watch the videos in under a week.  There was another site out there renting the same videos, but they never answered an email question I had to them.  I have extreme confidence in your Technical Video service.  From your email support and questions, to the delivery.  The dvd's arrived quickly.  
Again, I thank you for service, and I highly recommend you to others looking to further their educational advancement, at a much lower cost!  Great job!
</div>
<div class="customer-name">-Tim</div>

<div class="comment">
Just wanted to comment on how excellent your service is.  I've only
rented two DVDs so far but plan on renting a lot more in the future.
</div>
<div class="customer-name">-Ed</div>


<div class="comment">
I am enjoying your Bluegrass Fiddle Suite now.
I will be back for more and pass on the info to my fiddle friends.
</div>
<div class="customer-name">-Bryan</div>


<div class="comment">
I gotta tell ya, I've spent all week looking over your
sight just waiting for payday to get here so I could
rent some videos from you, but now I'm faced with a
problem. WHICH VIDEOS TO RENT!
</div>
<div class="customer-name">-Chris</div>

<div class="comment">
<p>
Many Thanks - Awesome Service!
</p>
<p>
I want thank you for offering your service. I recently purchased a
lathe and mill although I knew nothing about cutting, setup, or their
safe operation so I figured on a whole lot of reading and a lot of
waisted time and material as I learned the basics on my own. I
searched through many a WEB site reading about the basics but once I
came across your site I immediately rented ten of your machinist
videos - WOW! Best thing I could have done, I've learned more in the
past two weeks than I would have learned in years on my own. I really
feel comfortable with both machines - I even made some cutting tools
for the lathe by following the video instructions! 
</p>
<p>
Thanks again
</p>
</div>
<div class="customer-name">-Ely</div>

<div class="comment">
I would like to thank you for providing the service of renting these
technical videos and DVDs.  For a long time I have wished my local
video rental rented these types of videos.  Now you have made it
possible for people like myself and many others to see these videos
that we would not normally get the chance to watch because they were
too much and the fact that you accept PayPal makes it even better!  I
weill be renting many more of your videos in the near future.  Again,
thank you for this wonderful service!
</div>
<div class="customer-name">-Mark</div>

<div class=comment>
<p>
The DVD on MIG welding... was really more then
expected.  Quality was good and the content great.  I have a note book
filled with notes and I now feel much more comfortable trying out a brand
new challenge: MIG welding, which I've only heard and read about before.
This video really hit home!  
</p>
<p>
Thanks for providing this service, which is satisfying, easy and convenient.
I will return soon for more!
</p>
</div>
<div class="customer-name">-Daniel</div>


<div class=comment>
<p>
Watched the video and it was great! ... The video will be returned in tomorrows mail.
</p>
<p>
Thanks, from a happy customer
</p>
</div>
<div class="customer-name">-Rod</div>

<div class=comment>
I am looking forward to the video!  What a great idea you have to provide
this service - I'm sure I'll be back to rent more in the future!
</div>
<div class="customer-name">-Bill</div>


<div class=comment>
<p>
I just thought of some other topics that I would be interested in...
</p>
<p>
"Auto Painting & Bodywork"
</p>
<p>
I guess I've been watching too much "America HotRod" on Discovery Channel
lately!
</p>
<p>
Never mind...two seconds after I wrote this email I check the website and
you already had it on there!  Hahaha....expect another order soon!  Thanks!
</p>
<p>
Thanks again!
</p>
</div>
<div class="customer-name">-Koji</div>


<div class=comment>
This is the second time I have rented videos from you, and your
service is great.  Thanks.
</div>
<div class="customer-name">-Jim</div>


<div class=comment>
<p>
I can guarantee you I will be renting again...
Gunsmithing, Machinist tapes, and the AGI tapes are my favorites.
</p>
<p>
I'm glad you are expanding, thanks!
</p>
</div>
<div class="customer-name">-Ken</div>

<div class=comment>
I just wanted to let you know that I certainly enjoyed the first video
I rented from you, Arc Welding I.  I shipped it back after
viewing it twice and then practicing what I learned.  I really
appreciate you and the great service you offer.  I'll be looking to
rent more videos as long as they are available and I look forward to
new videos as you have a really interesting range of subjects.
</div>
<div class="customer-name">-Heb</div>

<div class=comment>
<p>
I wish my local Blockbuster was so responsive!  ...
</p>
<p>
I will be renting many other titles from other subject as well since you
have such a great selection.
</p>
</div>
<div class="customer-name">-Koji</div>

<div class=comment>
<p>
I'm just appreciative that you offer these
DVDs/videos for rent.  You have about a dozen I wish to view and since I
really only need to see them once I appreciate the ability to rent for
$10 rather than have to purchase at a much higher price for a one time
viewing.  I suppose if rental was not an option I'd never get to see
them as I would not fork out the extra cost to actually purchase.
</p>
<p>
Thanks again and I look forward to our future dealings.
</p>
</div>
<div class="customer-name">-Cliff</div>

<div class=comment>
Loved the welding videos.
I hope this is just as good. Thanks. 
</div>
<div class="customer-name">-Craig</div>

<div class=comment>
Thank you for providing this rental service.  The videos
are very interesting!
</div>
<div class="customer-name">-Todd</div>


<div class=comment>
<p>
Just a brief note to let you know I've finished watching the video and
will be returning to you in today's mail.  This was a great little video
and renting it was perfect...
</p>
<p>
I... will order one of
your other videos to watch next week...
</p>
<p>
Just seeing the information on
machine set ups made renting the video worthwhile.
</p>
</div>
<div class="customer-name">-Cliff</div>

<div class=comment>
<p>
Terrific!...
</p>
<p>
My last order arrived here from MA
in about 3-4 days. A pleasant  surprise!
</p>
<p>
Thanks again for
your prompt attention & communication. 
</p>
</div>
<div class="customer-name">-Pete</div>

<div class=comment>
First, please let me thank you for running your business. The tapes
that you carry are very expensive to purchase outright, and your
rental service allows me to preview them and decide if I want to spend
my money on a purchase. I currently have Jose Rodriguez' video on
threading on a lathe...I think your offer is very fair. I also wish to
thank you for your trust.  It is refreshing.
</div>
<div class="customer-name">-Matt</div>

<div class=comment>
I received the previous two tapes last Sat, and returned them today
(Fri) .  Enjoyed them both.  Thanks for your service.
</div>
<div class="customer-name">-Stevan</div>

<div class=comment>
You have a very eclectic and intresting assortment of videos...I'll be
back for more.
</div>
<div class="customer-name">-Craig </div>

<div class=comment>
What a great idea for a business.  I'll be back for more!
</div>
<div class="customer-name">-Larry</div>


<div class=comment>
I've been a carpenter my whole adult life and now that I'm getting
close to retirement I figured it was time to broaden my skills.
</div>
<div class="customer-name">-Robert</div>



<div class=comment>
Thank you for making these videos available.  I plan on
renting additional videos/DVDs from you in the future. 
</div>
<div class="customer-name">-Cliff</div>

<div class=comment>
I enjoyed the last 2 videos, thanks!
</div>
<div class="customer-name">-Paul</div>


<div class=comment>
Glad to be renting more videos.. here is an order for the 3 building a
milling machine tapes
</div>
<div class="customer-name">-Stephen</div>

<div class=comment>
Second tape I have rented from you can't wait to see it!
</div>
<div class="customer-name">-Ronald</div>

<div class=comment>
Thanks for this service.
I am really enjoying these videos. Thanks.
</div>
<div class="customer-name">-Steve</div>

</div>
