<%= render :partial => 'layouts/checkout_header' %>

<%= render :partial => 'shared/message' %>

<div class="job_application">
   <%= yield %>
</div>


</div>

<div id="footer"></div>

</body>
</html>
